# Synced with pyproject.toml dependencies
python>=3.12
gymnasium>=1.1.1
mkdocs>=1.6.1
mkdocs-material>=9.6.18
mkdocstrings[python]>=0.30.0
sb3-contrib>=2.7.0
scipy>=1.16.0
stable-baselines3>=2.6.0
statsmodels>=0.14.5
torch>=2.7.1
tqdm>=4.67.1
wandb>=0.21.0
